@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>GOBUS</h1>
    <p class="lead">GOBUS es una herramienta que nos permitira gestionar de manera eficiente,
    la informacion que manejamos en nuestra empresa y de nuestros clientes.</p>
    
</div>
<img src="~/img/1.png"width="1170" height="520">

<div class="row">
    <div class="col-md-4">
        <h2>Citas</h2>
        <p>
            En GOBUS puedes agendar citas, para nuestros clientes de manera mas facil y rapida.
        </p>
        
    </div>
    <div class="col-md-4">
        <h2>Servicios</h2>
        <p>Ademas puedes tener acceso a los distintos servicio y sus costos, dando una cotisacion rapida sel cualquier servicio.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Clientes</h2>
        <p>Tambien se dispone de informacion de nuestros clientes que nos puede ayudar a agilizar proceso posteriores a un servicio </p>
        
    </div>
</div>